@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';

html, body {height: 100%;}
html { font-family: 'Open Sans', sans-serif; font-weight: 300;}
body { background: #fcfcfc; font-size: 12px!important;}
p { padding: 0; margin: 0;}

h1,h2,h3,h4,h5,h6{ color: #222222; font-weight: 300; text-transform: uppercase;}
h1 { font-size: 26px;}
h2 { font-size: 22px;}
h3 { font-size: 18px;}
h4 { font-size: 14px;}

.btn { padding: 8px 24px; background: #ff8000; border: none; color: #f5f5f5; font-size: 12px; text-transform: uppercase; letter-spacing: 1px; font-weight: 300; border-radius: 2px;}
.btn:hover { background: #FF9D39}
.btn-lg { font-size: 90%; padding: 10px 26px;}
.btn-sm { font-size: 70%; padding: 6px 22px;}
.btn-xs { font-size: 60%; padding: 4px 20px;}

/* Navigation */
.navbar { background: rgba(255,255,255, 1.0); border: 0; color: #000000; border-bottom:1px solid #f1f1f1;}
.navbar-brand, .navbar-nav a { color: #000000!important; text-transform: uppercase;}
.navbar-nav li { padding: 0px 20px 0px 20px;}
.navbar-nav li a {letter-spacing: 2px; text-indent: 2px; font-size: 10px; padding: 15px 0px 15px 0px;}
.navbar-nav li a:hover { transition: color 200ms ease-in-out; color: #ff8000!important;}
.navbar-brand { font-size: 24px; letter-spacing: 4px; font-weight: 700;}
.navbar-brand img { width: 140px;}
.navbar-toggle { border-radius: 0; border: 0;}
.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:visited, .navbar-toggle:focus {background: none !important;}
.navbar-toggle > span { background: #000000 !important;}
.navbar-collapse {}

/* Sectors */
.sector-slider {}
.sector-white { padding: 100px 0px;}
.sector-blur { position: relative; overflow: auto; background: url(https://hd.unsplash.com/43/L6sQn4GyQdSBW7pLgEz7_DSC_0013.JPG) center no-repeat; background-size: cover;}
.sector-blur-overlay { padding: 100px 0px; background: url(../img/blur.png) repeat;}

/* Slides */
.first-slide {background: url(https://hd.unsplash.com/photo-1416331108676-a22ccb276e35) no-repeat center; background-size: cover; height: 100%;}
.second-slide {background: url(https://hd.unsplash.com/photo-1471623432079-b009d30b6729) no-repeat center; background-size: cover; height: 100%;}
.third-slide {background: url(https://hd.unsplash.com/photo-1446846365537-255ea07833ec) no-repeat center; background-size: cover; height: 100%;}

.carousel { height: 600px;}
.slide-dimmer { background: rgba(0,0,0,0.5); position: absolute; top: 0; bottom: 0; width: 100%; z-index: 8;}
.carousel-caption { z-index: 10; top: 40%;}
.carousel-caption h2{ color: #FFFFFF; font-weight: 700; font-size: 40px; text-transform: uppercase; letter-spacing: 2px;}
.carousel-caption p { font-size: 16px !important;}
.carousel .item { height: 600px; background-color: #777; }
.carousel-indicators { bottom: 0px;}

/* Stats */
.stat-val { font-size: 45px; font-weight: 700; border: 1px solid #ff8000; width: 150px; text-align: center; height: 150px; border-radius: 75px; margin: auto; line-height: 150px;}
.stats p { font-size: 17px; font-weight: 700; text-transform: uppercase;}

/* About */
.contact-sect { color: #FFFFFF;}
.contact-sect h2 { color: #ffffff; font-weight: 400; text-transform: none; font-size: 30px; margin: 0;}

/* footer */
.footer { background: #323a45; color: #cccccc;}
.footer-links { padding: 20px 0px;}
.credits {min-height: 50px; line-height: 50px;}

.footer-links > div > h4 { text-transform: uppercase; font-size: 12px; color: #ffffff; font-weight: 700; letter-spacing: 1px;}
.footer-links ul {padding: 0;}
.footer-links ul li { list-style: none; font-size: 12px;}
.footer-links ul li a {color: #999999;}

.credits { font-size: 11px; color: #999999; background: rgb(43, 50, 60);}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media(max-width:767px){

    .carousel-caption h2{ color: #FFFFFF; font-weight: 700; font-size: 20px; text-transform: uppercase; letter-spacing: 2px;}
    .carousel-caption p { font-size: 12px!important;}
    .carousel {
        height: 400px;
    }
    .carousel .item {
        height: 400px;
        background-color: #777;
    }
    .carousel-caption {
        top: 30%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {


}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) {

}