/*
By: Group 15
Members: Joseph Dagunan, David Bond, Alex Waddell
*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';

/* HTML 5 tag styles */
html, body { height: 100%;}
body { font-family: 'Open Sans', sans-serif; font-weight: 300; padding-top: 51px;}
h1,h2,h3,h4,h5,h6{ color: #222222; font-weight: 300; margin-top: 0;}
h1 { font-size: 26px;}
h2 { font-size: 22px;}
h3 { font-size: 18px;}
h4 { font-size: 14px;}

/* Navigation */
.navbar-brand img { width: 150px;}



/* Content */
.content { overflow: auto; padding-top: 10px;}
.content-left { background: #f5f5f5; padding-top: 10px;}
.profile-info td {border-top: none!important; border-bottom: solid 1px #f2f2f2;}
.table tbody>tr>td.vert-align{vertical-align: middle;}
.panel-scroll { max-height: 300px; overflow: scroll;}

/* Footer Style */
footer {overflow: auto; width: 100%; background: #323a45; color: #ffffff; padding: 20px 0px 0px 0px;}
footer .footer-link-heading { font-weight: 700; text-transform: uppercase; font-size: 14px;}
footer ul {margin: 0; padding: 0; list-style: none; font-size: 12px;}
footer ul li a { color: #909090}
footer ul li a:hover { color: #ffffff; text-decoration: none;}
footer .links { padding-bottom: 10px;}
footer .credits { font-size: 10px; background: rgb(43, 50, 60); min-height: 50px; line-height: 50px;}
footer .credits p { padding: 0; margin: 0;}